In [1]:
import pandas as pd

In [2]:
names = ['chlorhexidine', 'cyntomycin', 'afobazol']
counts = [15, 18, 7]

In [3]:
def create_medications(names: list, counts: list) -> pd.Series:
    medications = pd.Series(
        data = counts,
        index= names
    )
    return medications

In [4]:
def get_percent (medications:pd.Series, name: str) -> float:
    result = medications[name]/sum(medications)*100
    return result

In [5]:
medications = create_medications(names,counts)

In [6]:
print(get_percent(medications,'chlorhexidine'))

37.5

# Dataframe

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
print(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [9]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

In [10]:
print(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [11]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index= ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
print(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [12]:
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [13]:
countries_df.mean(axis=1, numeric_only=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [14]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [15]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [21]:
print(list(countries_df.population))

[56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04]

In [ ]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

:

In [2]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [3]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [4]:
print(student_data.iloc[155]['writing score'])

88

In [5]:
print(student_data['math score'].mean())

66.089

In [16]:
print(student_data['race/ethnicity'].value_counts().index[0])

group C

In [19]:
print(student_data.describe(include='all'))

        gender race/ethnicity parental level of education     lunch  \
count     1000           1000                        1000      1000
unique       2              5                           6         2
top     female        group C                some college  standard
freq       518            319                         226       645
mean       NaN            NaN                         NaN       NaN
std        NaN            NaN                         NaN       NaN
min        NaN            NaN                         NaN       NaN
25%        NaN            NaN                         NaN       NaN
50%        NaN            NaN                         NaN       NaN
75%        NaN            NaN                         NaN       NaN
max        NaN            NaN                         NaN       NaN

       test preparation course  math score  reading score  writing score
count                     1000  1000.00000    1000.000000    1000.000000
unique                       2         NaN            NaN            NaN
top                       none         NaN            NaN            NaN
freq                       642         NaN            NaN            NaN
mean                       NaN    66.08900      69.169000      68.054000
std                        NaN    15.16308      14.600192      15.195657
min                        NaN     0.00000      17.000000      10.000000
25%                        NaN    57.00000      59.000000      57.750000
50%                        NaN    66.00000      70.000000      69.000000
75%                        NaN    77.00000      79.000000      79.000000
max                        NaN   100.00000     100.000000     100.000000

In [25]:
print(student_data[student_data['math score'] == 0].shape[0])

1

In [26]:
display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [27]:
print(student_data['lunch'].unique())

['standard' 'free/reduced']

In [5]:
free_lunch_mean = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
full_lunch_mean = student_data[student_data['lunch'] == 'standard']['math score'].mean()
print(free_lunch_mean, full_lunch_mean)

58.92112676056338 70.03410852713178

In [8]:
print(round(student_data['parental level of education'].value_counts(normalize=True)["bachelor's degree"] * 100, 0))

12.0

In [10]:
group_a_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
group_c_mean = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(group_a_median-group_c_mean), 0))

6.0

In [2]:
import pandas as pd
bikes_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [21]:
display(bikes_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
display(bikes_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [14]:
display(bikes_df['start station id'].value_counts().index[0])

np.float64(281.0)

In [16]:
print(bikes_df['bikeid'].value_counts().index[0])

33887

In [18]:
print(bikes_df['usertype'].value_counts(normalize=True).iloc[0])

0.7740066666666666

In [19]:
print(bikes_df['gender'].value_counts())

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [20]:
print(bikes_df['start station id'].nunique(), bikes_df['end station id'].nunique())

759 765

In [22]:
bikes_df['starttime'] = pd.to_datetime(bikes_df['starttime'], yearfirst=True)

In [23]:
bikes_df['stoptime'] = pd.to_datetime(bikes_df['stoptime'], yearfirst=True)

In [25]:
print(bikes_df[['starttime','stoptime']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   starttime  300000 non-null  datetime64[ns]
 1   stoptime   300000 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 4.6 MB
None

In [26]:
bikes_df['age'] = bikes_df['starttime'].dt.year - bikes_df['birth year']

In [28]:
print(bikes_df['age'].min())

16

In [30]:
print(bikes_df['start station name'].value_counts().index[-1])

Eastern Pkwy & Washington Ave

In [31]:
print(bikes_df['end station name'].value_counts().index[0])

West St & Chambers St

In [32]:
bikes_df['age'] = 2018- bikes_df['birth year']

In [33]:
print(bikes_df[bikes_df['age'] > 60].shape[0])

11837

In [34]:
bikes_df['trip duration'] = bikes_df['stoptime'] - bikes_df['starttime']

In [37]:
print(bikes_df['trip duration'].dt.seconds.iloc[3]/60)

7.266666666666667

In [38]:
def create_weekend_column(day_of_week:int) -> int:
    if (day_of_week == 5) or (day_of_week == 6):
        return 1
    return 0

In [ ]:
bikes_df['weekend'] = bikes_df['starttime'].dt..apply(create_weekend_column)

In [42]:
print(bikes_df['weekend'].value_counts())

weekend
0    184865
1    115135
Name: count, dtype: int64