In [1]:
import pandas as pd

In [2]:
names = ['chlorhexidine', 'cyntomycin', 'afobazol']
counts = [15, 18, 7]

In [3]:
def create_medications(names: list, counts: list) -> pd.Series:
    medications = pd.Series(
        data = counts,
        index= names
    )
    return medications

In [4]:
def get_percent (medications:pd.Series, name: str) -> float:
    result = medications[name]/sum(medications)*100
    return result

In [5]:
medications = create_medications(names,counts)

In [6]:
print(get_percent(medications,'chlorhexidine'))

37.5

# Dataframe

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
print(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [9]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

In [10]:
print(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [11]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index= ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
print(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [12]:
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [13]:
countries_df.mean(axis=1, numeric_only=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [14]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [15]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [21]:
print(list(countries_df.population))

[56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04]

In [22]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

In [ ]:
def create_companyDF(income:list, expenses:list, years:list) -> pd.DataFrame:
    return pd.DataFrame(
        data
    )